@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(329.54deg, #C004D9 0%, #5A13F2 100%) no-repeat; 
    font-family: 'roboto';
    height: 100vh;
}

header {
    box-sizing: border-box;
    text-align: center;
    padding: 32px;
    background-color: white;
    height: 15vh;
}


.links a {
    color: #777;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

.links a:hover {
    color: #5A13F2;
}


.links a.active {
    font-weight: bold;
    color: black;
}

.links a + a {
    margin-left: 29px;
}

.links a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #138AF2;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.links a:hover::after {
    transition: width 200ms ease-in-out;
    width: 100%;
}






