{% extends "layout.njk" %}


{% block content %}
<div class="card table-container">

     <div class="header"> 
        <a class="button" href="/students/create">Novo</a>
        <form action ="/students" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Nome ou ano escolar"
                {# para manter a filtragem #}
                value={{filter}}
                > 

            <button type="submit">Filtrar</button>
        </form>
    </div>


    <table> 
        <thead> 
            <tr> 
                <th>Estudante</th>
                <th>Email</th>
                <th>Ano escolar</th>
                <th>Ação</th>

            </tr>
        </thead>

        <tbody> 
            {% for student in students %}
                <tr>
                    <td><span style="background-image: url({{student.avatar_url}})"></span>
                        {{student.name}}</td>   
                    <td> 
                        <div class="td-subjects_taughts">{{student.email}} </div>  
                    </td>

                    <td>{{student.schoolyear}}º</td>                           
                    <td> <a href="/students/{{student.id}}">Ver detalhes</a> </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>


</div>
{% endblock content %}


